---
import Layout from '@/layouts/layout.astro';
---

<Layout title="EFOV - Eminence Form Validator" description="A minimal Javascript Library to Validate Forms in an efficient and customizable method.">
	<h1>EFOV - Eminence Form Validator</h1>
	<form data-efov-form="0">
		
		<input type="number" min="15" max="30" step="5" required data-efov='{}' aria-errormessage="ulNumber">
		<ul id="ulNumber" class="efov-error-ul"></ul>

		<input id="inputText" type="text" data-efov='{}' aria-errormessage="ulText">
		<ul id="ulText" class="efov-error-ul"></ul>
		<input type="tel" data-efov='{}' aria-errormessage="ulTel">
		<ul id="ulTel" class="efov-error-ul"></ul>
		<input type="search" data-efov='{}' aria-errormessage="ulSearch">
		<ul id="ulSearch" class="efov-error-ul"></ul>
		<input type="password" data-efov='{}' aria-errormessage="ulPassword">
		<ul id="ulPassword" class="efov-error-ul"></ul>
		<input type="url" data-efov='{}' aria-errormessage="ulUrl">
		<ul id="ulUrl" class="efov-error-ul"></ul>
		<input type="email" data-efov='{}' aria-errormessage="ulEmail">
		<ul id="ulEmail" class="efov-error-ul"></ul>

		<input type="file" data-efov='{}' aria-errormessage="ulFile">
		<ul id="ulFile" class="efov-error-ul"></ul>

		<input type="date" data-efov='{}' aria-errormessage="ulDate">
		<ul id="ulDate" class="efov-error-ul"></ul>
		<input type="datetime-local" data-efov='{}' aria-errormessage="ulDatetime">
		<ul id="ulDatetime" class="efov-error-ul"></ul>
		<input type="month" data-efov='{}' aria-errormessage="ulMonth">
		<ul id="ulMonth" class="efov-error-ul"></ul>
		<input type="week" data-efov='{}' aria-errormessage="ulWeek">
		<ul id="ulWeek" class="efov-error-ul"></ul>
		<input type="time" data-efov='{}' aria-errormessage="ulTime">
		<ul id="ulTime" class="efov-error-ul"></ul>
		
		<textarea minlength="100" data-efov='{"maxlength":"120","maxlengthMSG":"Max 120"}' aria-errormessage="ulTextarea"></textarea>
		<ul id="ulTextarea" class="efov-error-ul"></ul>

		<fieldset data-efov='{"requiredMSG":"Tienes que elegir uno de los colores"}' aria-errormessage="ulRadios" role="radiogroup">
			<label>1<input name="test" type="radio" required></label>
			<label>2<input name="test" type="radio" required></label>
			<label>3<input name="test" type="radio" required></label>
			<label>4<input name="test" type="radio" required></label>
			<label>5<input name="test" type="radio" required></label>
		</fieldset>
		<ul id="ulRadios" class="efov-error-ul"></ul>

		<input type="checkbox" required data-efov='{"requiredMSG":"Tienes que aceptar que este formulario es perfecto."}' aria-errormessage="ulCheckboc">
		<ul id="ulCheckboc" class="efov-error-ul"></ul>

		<input type="submit">
	</form>
	<!--
	<script>
		
		// @ts-nocheck
		document.addEventListener('DOMContentLoaded', function() {
		  const input = document.getElementById('palindromeChecker');
		  // Ensure input.efovC is an array where custom validation functions will be stored
		  input.efovC = input.efovC || [];
		  // Push a new custom validation function into input.efovC
		  input.efovC.push(function() {
			// Correctly use input.value to get the current value of the input field
			if (input.value !== input.value.split('').reverse().join('')) {
			  return ["Is not a palindrome"]; // Return an array with an error message
			}
			return []; // Return an empty array to indicate no errors
		  });
		});
	  </script>
	  -->
	  
</Layout>